<%- contentFor('body') %>
<section class="px-5 my-5">
  <h1 class="text-center mb-5 font-bold text-xl">About me</h1>
  <div class="flex flex-wrap justify-center gap-2 items-center">
    <div>
      <image
        src="/assets/dena.jpg"
        class="h-40 w-40 bg-red-500 object-cover rounded-full overflow-hidden"
      />
    </div>
    <p class="max-w-[50%]">
      My name is <strong> Dena Sudarajat </strong>, a Junior Developer, I am
      enthusiastic about learning new technologies and always try to improve my
      skills.
    </p>
  </div>
</section>
