<%- contentFor('body') %>
<section>
  <h1>About me</h1>
  <div class="about-content">
    <p>
      My name is Dena Sudarajat, a Junior Developer, I am enthusiastic about
      learning new technologies and always try to improve my skills
    </p>
    <div>
      <div>
        <image src="/assets/dena.jpg" class="about-content_image" />
      </div>
    </div>
  </div>
</section>
