<%- contentFor('body') %>

<section>
  <h1>Contact Detail</h1>
  <div class="card">
    <div>Name : <%= data.name %></div>
    <div>phone :<%= data.phone %></div>
    <div>Email : <%= data.email %></div>
  </div>
</section>
